:root {
  --primary-colour: #00c;
  --secondary-colour: #555;
  --inverse-colour: #fff;
  --container-max-width: 40rem;
  --nav-font-size: 1rem;
  --nav-tab-vertical-padding: 0.75rem;
  --nav-tab-horizontal-padding: 1.25rem;
  --nav-tab-gap: 0.25rem;
  --nav-tab-radius-amount: 0.5rem;
  --nav-active-font-size: 1.25rem;
  --nav-active-tab-vertical-padding: 1rem;
  --nav-active-tab-horizontal-padding: 2rem;
  --article-padding: 1rem;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: var(--container-max-width);
}

.form{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
}

form__form_button--link{
  background-color: var(--secondary-colour);
  padding-inline-start: var(--nav-tab-horizontal-padding);
  padding-inline-end: var(--nav-tab-horizontal-padding);
  padding-block-end: var(--nav-tab-vertical-padding);
  padding-block-start: var(--nav-tab-vertical-padding);
}

.form--button_simple{
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0;
  width: calc(var(--container-max-width) / 5);  
  border-radius: var(--nav-tab-radius-amount);
}

.form__form_button--link{
  text-decoration: none;
  color: #FFFFFF;
}

.form__form_button--link:hover {
  text-decoration: none;
}

.form--button__active{
  display: flex;
  width: calc(var(--container-max-width) / 5);
}

.description__link_price{
  background-color: var(--primary-colour);
  /*width: var(--container-max-width);*/
  padding-inline-start: var(--article-padding);
  padding-inline-end: var(--article-padding);
}