.about {
  display: grid;
  grid-template-columns: repeat(6 , 145px);
  column-gap: 15px;
  margin-block-start: 30px;
}

.heading_page {
  display: grid;
  grid-column: 1 / 2;
}

img {
  display: grid;
  grid-column: 2 / 4;
}

main > p {
  display: grid;
  grid-column: 4 / 6;
}







