/* Set up */
.centred {
  background-color: rgba(223, 127, 31, 0.5);
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.centred > * {
  margin: 0;
  background-color: inherit;
  padding: 1rem;
}

/* 4 */
[data-example="4"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 5 */
[data-example="5"] div .centred{
  position: absolute;
  display: inline-block;
  left: 50%;
  margin-left: 5px;
}

/* 6 */
[data-example="6"] {
  display: inline;
  vertical-align: middle;
}

.centred{
  text-align: center;
}