/* Set up */
.columns > * {
  padding: 1rem;
  color: #fff;
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
}

.columns > * * {
  background-color: inherit;
  margin: 0;
  padding: inherit;
}

.columns article {
  --article-elem-color: 63, 191, 63;
}

.columns aside {
  --article-elem-color: 191, 63, 63;
}

/* 7 */
[data-example="7"] .columns {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
}

[data-example="7"]{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

[data-example="7"] .columns > * {
  flex-grow: 1;
}

[data-example="7"] .columns > article{
  margin-block-end: 0;
  margin-inline-end: 1rem;
}

/* 8 */
[data-example="8"] .columns {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  height: 100%;
}

[data-example="8"] .columns > article {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-block-end: 0;
  margin-inline-end: 1rem;
}

[data-example="8"] .columns > aside  {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* 9 */
[data-example="9"] .columns {
  columns: 2;
  height: 100%;
}

[data-example="9"] .columns > *{
  box-sizing: border-box;
  height: 100%;
}





