.progress_indicator {
  border-radius: 1px;
  width: 250px;
  height: 60px;
  position: relative;
  display: inline-block;
}

.progress_indicator > span {
  background-color: burlywood;
  border-radius: 16px;
  position: absolute;
  display: block;
}