:root {
  --width: 20px;
  --height: 20px;
  --color-background: rgb(63, 63, 63);
  --counter-name: item;
  --color: transition;
  --line-height: 20px;
  --font-height: 700px;
}

#dry .grid {
  display: inline-grid;
  grid-template-columns: repeat(10, 20px);
}

#dry a {
  display: block;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--color-background);
  transition: var(--color);
  counter-increment: var(--counter-name);
}

#dry a:hover {
  background-color: rgb(0, 0, 0);
}

#dry a::before {
  content: counter(var(--counter-name));
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  text-align: center;
  font-size: 10px;
  line-height: var(--line-height);
  font-weight: var(--font-height);
  color: var(--color-background);
  transition: var(--color);

}

#dry a:hover::before {
  color: rgb(255, 255, 255);
}

