/*style the list*/
nav.breadcrumb ol{
  background-color: cadetblue;
  padding: 10px 16px;
}

nav.breadcrumb ol li{
  display: inline-block;
}

.breadcrumb li+li::before {
  content: "/";
}

.breadcrumb li:first-child::before {
  content: "";
}

