/*input [checkbox] {
  width: 100px;
  height: 100px;

}
.dropdown_checkbox {
  display: inline-block;
  
}*/

/*div, label {
  margin: 8px;
}

input [type="checkbox"] :checked {
  
}

ul checked {
  
}*/
/*input[type=checkbox] {
    visibility: hidden;
}

input[type="checkbox"]:checked {
    display: inline-block;
  }
*/
:checked dropdown_checkbox {
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

:checked dropdown_contents {
  content:'';
  display:inline-block;
  width:24px;
  height:24px;
}
