/* header */
header {
  background-image: url(../images/bg_desktop.jpg);
  background-position: center;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  margin: 0 0.5rem;
}

/*override the spacing on the first and last items*/
header li:first-child{
  margin-inline-end: 0rem;
}

header li:last-child {
  margin-inline-start: 0rem;
}
