These are the properties associate with table
/*Table-layout: fixed, auto. It sets the cells, rows, culumn of the table.*/

/*Border-spacing: it sets the distance between the borders of adjacent cells.*/

/*Border-collapse: separate, collapse,  it sets the border model of the table.*/

/*Caption side: top it specifies the position of the table.*/

/*Empty cells: it is used to show or hide the borders. Inherited.*/

/*Stumulating HTML table*/

/*table: table
table-row-group: tbody
table-header-group: thead
table-footer-group: tfoot
table-row: tr
table-cell: 
table-column-group: colgroup
table-column: col
table-caption: caption
/*Research*/

/*We needs to set `border-collapse: separate`*/

/*Table layout-fixed according to MDN, the widths of the table and its cells are adjusted to fit the content.
For the table layout-fixed, Table and column widths are set by the widths of table and col elements or by the width of the first row of cells. Cells in subsequent rows do not affect column widths.*/


