/*
  We need the following numbering structure:

<<<<<<< HEAD
    1. Major clause `<h3>` separated by `<section>`s* 
    /*1.1. Clause (with a List) `<h4>` with a `<ol>` sibling*/
body {
    counter-reset: major-clause;
}

h3 {
    counter-reset: clause;
}

h3::before {
    counter-increment: major-clause;
    content: " " counter(major-clause) ".";
}

h4::before {
  counter-increment: clause;
  content: counter(major-clause) "." counter(clause) " ";
}


      /*  a. List item `<li>`
        b. List item (with a List) `<li>` with a `<ol>` child*/
        
ol {
  counter-increment: alphabeticList;
  list-style-type: lower-alpha;
}

ol::before {
  list-style: lower-alpha;
}
/*  i. Nested list item `<li>`  
    ii. Nested list item `<li>`
    iii. Nested list item `<li>`
    iv. Nested list item `<li>`
      …*/

ol :nth-of-type(2) li{
  list-style-type: lower-roman;

}
      /*c. List item `<li>`
=======
    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        1.1.a. List item `<li>`
        1.1.b. List item (with a List) `<li>` with a `<ol>` child
          1.1.b.i. Nested list item `<li>`
          1.1.b.ii. Nested list item `<li>`
          1.1.b.iii. Nested list item `<li>`
          1.1.b.iv. Nested list item `<li>`
          …
        1.1.c. List item `<li>`
>>>>>>> 1613ae3d882ef4327e6b0ef185f10b4d1d933659
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/