body > header {
  color: #fff;
  display: flex;
  line-height: 1px;
  margin-top: 0;
  display: flex;
}

body > header h1 {
  margin: 0;
  font-size: 2rem;
  align-items: flex-start;
  align-self: start;
}

body > header a {
  color: inherit;
  text-decoration: none;
  align-content: flex-end;

}

