/*Visibility*/
li:nth-of-type(1) {
  visibility: visible;
}

li:nth-of-type(2n) {
  visibility: hidden;
}

li:nth-of-type(3n) {
  visibility: hidden;

}
/*Display*/
tr:nth-child(2n) {
  display: none;
}

tr:nth-of-type(3n) td:last-child {
  display: none;
}

span {
  display: none;
}

span {
  opacity: 0.5;
}