/*clipping*/
#overflow_invisible .example {
  overflow: hidden;
}

/* Scrolling*/
#overflow_scroll .example {
  overflow: scroll;
}

/*clipping*/
#clipping_circle .example {
  clip-path: circle(10% at 64.5% 25%);
}

#clipping_poly .example {
  /*clip-path: polygon(50% 0%, 0% 100%, 100% 100%);*/
  clip-path: polygon(10% 0%, 90% 0%, 90% 90%);
}

#overclip .example {
  overflow: hidden;
  clip-path: (20% at 80% 50%);
}
/*Text overflow*/
#overflow_ellipsis .example {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}





