/*Positioning*/
section:nth-of-type(1) div > .circle{
  width: 25%;
  position: absolute;
  bottom: -153px;
  left: 150px;
}

section:nth-of-type(1) > div .rect {
  width: 25%;
  position: absolute;
  top: auto;
  right: 217px;
}

section:nth-of-type(1) > div .pipe {
  width: 25%;
  position: absolute;
  bottom: -154px;
  right: 229px;
}

section:nth-of-type(1) > div .bar {
  width: 25%;
  position: absolute;
  top: auto;
  left: 150px;
}

section:nth-of-type(1) > div {
  height: 206px;
}